# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.db
*.VC.db
*.opendb
*.suo
*.log
*.tlog
*.pdb
Builds/Debug/MileCore.exp
Builds/Debug/MileCore.ilk
Builds/Intermediate/Mile/Debug/vc140.idb
*.exp
*.ipch
